@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl text-green-700 font-medium;
}

h2 {
    @apply text-xl text-green-700 font-medium;
}

h3 {
    @apply text-lg text-green-700 font-medium;
}

a {
    @apply text-green-700 hover:underline;
}

ul {
    @apply list-disc list-inside;
}

ol {
    @apply list-decimal list-inside;
}
