@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-2xl font-bold text-cyan-600;
}

h2 {
    @apply text-xl font-medium text-cyan-600;
}

a {
    @apply text-cyan-600 hover:underline;
}

ul {
    @apply list-disc list-inside;
}
